html {
	overflow-y: scroll;
}

a {
	cursor: pointer;
}

.load-more-holder {
	margin-top: 20px;
}

.container {
	display: flex;
	flex-direction: column;

	width: 650px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 50px;
}

.logo {
	font-size: xx-large;
}

.logo a {
	color: black;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	width: 200px;
	text-transform: uppercase;
}

.delimeter {
	border-bottom: 1px solid black;
	margin: 10px 0;
}

.main {
	display: flex;
	flex-direction: row;
}

aside {
	flex: 2;
}

.content {
	flex: 6;
}

.item {
	border-bottom: 1px solid black;
	padding: 10px 0;
}

.item-column {
	margin-top: 10px;
}

.item-unseen {
  background-color: #EEEEEE;
}

.item-seen {
  background-color: white !important;
}

.item-unseen:hover {
	animation-name: example;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}

.item-top {
	display: flex;
	flex-direction: row;
}

.item-image {
	max-width: 100px;
	margin-right: 10px;
}

.item-image img {
	width: 100%;
}

@keyframes example {
  from {
		background-color: #EEEEEE;
	}
  to {
		background-color: white;
	}
}

.side-menu-item {
	margin-bottom: 20px;
}

a.category {
	color: inherit;
	text-decoration: none;
}

a.category.active {
	text-decoration: underline;
}

.data {
	background-color: #EEEEEE;
	padding: 0 2px;
	display: inline-block;
}

.data:not(.task) {
	margin-right: 10px;
}


a.data.link {
	color: inherit;
	text-decoration: none;
}

.tooltip {
	max-width: 200px;
}
