@import '../../variables.css';

.sideMenuItem {
  border: 1px solid var(--borderColor);
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 10px;
}

.unseenBadge {
  float: right;
  color: var(--unreadGreen);
}

@media (--small-viewport) {
  .sideMenuItem {
    margin-right: 0;
  }
}
