@import '../../variables.css';

.item {
  border: 1px solid var(--borderColor);
  margin-bottom: -1px;
  padding: 10px;
  word-break: break-word;
}

[data-reactid]:not(:first-child) > .item {
  padding-top: 10px;
}

.itemColumn {
  margin-top: 10px;
}

.itemUnseen {
  background-color: var(--unseenPost);
}

.itemUnseen:hover {
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.itemSeen {
  background-color: white !important;
}

.itemTop {
  display: flex;
  flex-direction: row;
}

.itemImage {
  max-width: 100px;
  margin-right: 10px;
}

.itemImage img {
  width: 100%;
}

.data {
  padding: 0 2px;
  display: inline-block;
}

.data:not(.task) {
  margin-right: 10px;
}

a.data.link {
  color: inherit;
  text-decoration: none;
}

.task, .date {
  text-decoration: underline;
}

@keyframes example {
  from {
    background-color: var(--unseenPost);
  }
  to {
    background-color: white;
  }
}
