:root {
  --unreadGreen: #8BC34A;
  --borderColor: #CFD8DC;
  --backgroundGrey: #FAFAFA;
  --hoverGrey: #ECEFF1;
  --white: #FFF;
  --unseenPost: #ECEFF1;
}

@custom-media --small-viewport (max-width: 700px);
