@import '../../variables.css';

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 750px;
  margin: 30px auto;
  box-shadow: 0 0 16px rgba(0,0,0,0.05);
  background-color: var(--white);
}

.main {
  display: flex;
  flex-direction: row;
}

.aside {
  flex: 1;
}

.content {
  flex: 3;
  min-width: 300px;
}

@media (--small-viewport) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .main {
    flex-wrap: wrap;
  }

  .content {
    min-width: 300px;
  }
}
